<div class="content flex flex-col space-y-8 items-center">
    <div>
        <h2 class="text-lg font-bold mb-4 text-center">Navigation</h2>
        <div class="flex flex-row justify-center md:space-x-2">
            <a href="/account?view=detail" class="hover:text-gray-400 bg-gray-100 p-2">Account Detail</a>

            {{#if isAdmin}}
            <a href="/account?view=manage_users" class="hover:text-gray-400 bg-gray-100 p-2">Manage Users</a>
            <a href="/account?view=manage_products" class="hover:text-gray-400 bg-gray-100 p-2">Manage Products</a>
            <a href="/account?view=manage_orders" class="hover:text-gray-400 bg-gray-100 p-2">Manage Orders</a>
            {{/if}}
        </div>
    </div>
    
    <div>
        <h1 class="text-2xl font-bold mb-4">Product Management</h1>
        <table class="table-auto w-full border-collapse border border-gray-300">
            <thead>
                <tr>
                    <th class="border border-gray-300 p-2">Name</th>
                    <th class="border border-gray-300 p-2">Category</th>
                    <th class="border border-gray-300 p-2">Price</th>
                </tr>
            </thead>
            <tbody>
                {{#each products}}
                <tr>
                    <td class="border border-gray-300 p-2">{{product_name}}</td>
                    <td class="border border-gray-300 p-2">{{product_category}}</td>
                    <td class="border border-gray-300 p-2">${{product_price}}</td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
</div>